.my-primary{
    color: #968c83 ;
    background-color: #d6d2c4;
  }
  
  .my-primary:focus, .my-primary:hover{
    color: #d6d2c4 ;
    background-color: #968c83;
  }
  
  a.navbar-brand {
    color: lightYellow ;
  }
  
  .navbar-brand:hover{
    color: yellow;
  }

body {
    background-color: #fff5ea;
}